	<h2>Part 1: Register your cPanel Software</h2>

  <form class="example-form" [formGroup]="myForm" (ngSubmit)="submit()">
  <mat-form-field type="text" class="example-full-width">
    <input matInput placeholder="User Name" formControlName="name" required>
    <mat-error *ngIf="myForm.controls.name.errors?.required">Name is required</mat-error>
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <input type="password" matInput placeholder="Password" formControlName="password" required>
    <mat-error *ngIf="myForm.controls.password.errors?.required">Password is required</mat-error>
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="User Number" formControlName="userNumber" required>
    <mat-error *ngIf="myForm.controls.userNumber.errors?.required">User Number is required</mat-error>
  </mat-form-field>
  
  
  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="Geographic Location" formControlName="location" required>
    <mat-error *ngIf="myForm.controls.location.errors?.required">Location is required</mat-error>
  </mat-form-field>
  <div class="btn">
  <button [disabled]="!myForm.valid" mat-raised-button  color="primary">Register</button>
  </div>
</form>